.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.list li {
    margin: 10px;
    
}

.list img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}